*{
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, #form { 
    width: 100%;
    text-align: center;
}

header {
    margin: 50px auto;
    cursor: pointer;
}

#form {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 70px;
}

.form-item {
    margin: auto 4px;
}

#keyword {
    width: 310px;
    height: 50px;
    padding-left: 15px;
}

#form-button {
    height: 54px;
    width: 75px;
    background-color: rgb(255, 174, 24);
    border: none;
    cursor: pointer;
}
#form-button:hover {
    background-color: rgb(247, 160, 0);
}

#address-list {
    width: 70%;
    margin-left: 15vw;
    font-size:14px;
}

.contain-subjects {
    display:flex;
}

.subjects {
    width:80%;
    margin-bottom: 16px;
    border-bottom: 3px solid rgb(233, 232, 232);
    padding:10px 10%;
    overflow: auto;
    height: 40px;
}

.sub1-more{
    background-color: rgba(6, 15, 24, 0.822);
    border-radius: 3px;
    height: 44px;
    width: 44px;
    margin: 9px 0px;
    font-size: 5pt;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    border:none;
}
.sub1-more:hover {
    background-color: rgb(133, 133, 133);
}
.sub1-more:focus {
    outline: none;
    border:none;
    background-color: rgb(133, 133, 133);
}

.sub1-name {
    margin-right: 16%;
    background-color: rgb(253, 246, 228);
}

.sub2-name {
    margin-right: 12%;
    background-color: rgb(231, 238, 252);
}

.sub1-more-div1 {
    padding-top: 0;
    font-size: 15pt;
    font-weight: lighter;
}

#hidden-menu {
    position: fixed;
    top: 48%;
    right: 18%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-top: 12px solid  rgb(187, 207, 247);
    box-shadow: -1px 2px 6px black;
    width: 580px;
    height: 120px;
    padding: 10px 20px;
    transition-duration: 500ms;
    overflow: auto;
}

#hidden-menu.hidden {
    right: -100%;
}

#hidden-menu > ul {
    list-style: none;
}

.hidden-text {
    margin: 12px;
}

.hidden-text > span:nth-child(1) {
    font-weight: bold;
}

.hidden-text > span:nth-child(2) {
    position: absolute;
    left: 150px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.pagination {
    display: flex;
    overflow: auto;
    width: 27.5%;
    margin: 50px auto;
}

.page-button {
    text-align:center;
    padding-left: 13px; padding-right: 13px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(88, 88, 124);
    border: 2px solid rgb(51, 51, 51);
    font-size: 15px;
    color: white;
    margin: 2px;
}

.pagination button:hover {
    background-color:rgb(52, 30, 177);

}

.pagination button:focus {
    background-color: rgb(52, 30, 177);
    border: 3px solid black;
    outline: none;
}