*{
    padding:0;
    margin:0;
    font-family: Tahoma, 'Nanum Gothic Coding', sans-serif, Verdana;
}

header, #form { 
    width: 100%;
    text-align: center;
}

header {
    margin: 50px auto;
    cursor: pointer;
}

/* 입력창 부분 */
#form {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 70px;
}

.form-item {
    margin: auto 4px;
}

#keyword {
    width: 310px;
    height: 50px;
    padding-left: 15px;
}

#form-button {
    height: 54px;
    width: 75px;
    background-color: rgb(255, 174, 24);
    border: none;
    cursor: pointer;
}

#form-button:hover {
    background-color: rgb(247, 160, 0);
}


/* 검색 결과 부분 */
#address-list {
    width: 70%;
    margin-left: 15vw;
    font-size:14px;
}

#address-list > div:nth-child(1) {
    margin-bottom: 20px; margin-right: 10px;
    text-align: right;
    font-size: 13pt;
    color: rgb(43, 43, 43);
}

.contain-subjects {
    display:flex;
}

.subjects {
    width:80%;
    margin-bottom: 13px;
    border-bottom: 3px solid rgb(233, 232, 232);
    padding:10px 10%;
    overflow: auto;
    height: 45px;
}

.subject1 {
    margin-bottom: 8px; 
}

.sub1-name {
    margin-right: 16%;
    background-color: rgb(253, 246, 228);
}

.sub2-name {
    margin-right: 12%;
    background-color: rgb(231, 238, 252);
}

.sub1-more{
    width: 44px;
    height: 44px;
    background-color: rgba(6, 15, 24, 0.822);
    border:none;
    border-radius: 3px;
    color: white;
    font-size: 5pt;
    font-weight: bold;
    margin: 9px 0px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.sub1-more:hover {
    background-color: rgb(133, 133, 133);
}

.sub1-more:focus {
    outline: none;
    border:none;
    background-color: rgb(133, 133, 133);
}

.sub1-more-div1 {
    padding-top: 0;
    font-size: 15pt;
    font-weight: lighter;
}

/* 검색 결과_숨겨진 메뉴CSS */
#hidden-menu {
    position: fixed;
    top: 50%;
    right: 18%;
    width: 560px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-top: 12px solid  rgb(187, 207, 247);
    box-shadow: -1px 2px 6px black;
    padding: 10px 20px;
    overflow: auto;
    transition-duration: 400ms;
}

#hidden-menu.hidden {
    right: -100%;
}

#hidden-menu > ul {
    list-style: none;
}

.hidden-text {
    margin: 12px;
}

.hidden-text > span:nth-child(1) {
    font-weight: bold;
}

.hidden-text > span:nth-child(2) {
    position: absolute;
    left: 150px;
    margin-right: 20px;
    padding-bottom: 20px;
}

#hidden-text0 {
    font-weight: bold;
}

/* 검색결과_페이지네이션 */
.pagination {
    display: flex;
    justify-content: start;
    overflow: auto;
    width: 350px;
    margin: 50px auto;
    background-color: rgb(238, 238, 238);
}

.page-button {
    text-align:center;
    padding-left: 13px; padding-right: 13px;
    margin: 2px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(85, 95, 126);
    border: 2px solid rgb(51, 51, 51);
    color: white;
}

.pagination button:hover {
    background-color:rgb(43, 32, 187);
}

.pagination button:focus {
    background-color: rgb(43, 32, 187);
    border: 3px solid black;
    outline: none;
}